.loginWrapper {
  width: 100%;
  /* background-color: red; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 40%;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px 20px 80px 20px;
}
.inputField {
  margin-bottom: 20px !important;
}
